.c-bg-primary {
    background-color: $primary;
}

.c-bg-secondary {
    background-color: $secondary;
}

.c-bg-tertiary {
    background-color: $tertiary;
}

.c-bg-quaternary {
    background-color: $quaternary;
}

.c-bg-quinary {
    background-color: $quinary;
}

.c-bg-dark-one {
    background-color: $dark-bg-one;
}

.c-bg-dark-two {
    background-color: $dark-bg-two;
}

.c-bg-light-one {
    background-color: $light-bg-one;
}

.c-bg-light-two {
    background-color: $light-bg-two;
}

.c-bg-details {
    background-color: $details;
}

.c-text-dark {
    color: $dark-text;
}

.c-text-light {
    color: $light-text;
}


