@import 'quasar.variables.scss';
@import 'colors.scss';

.render-content {
    height: calc(100vh - 50px);
}

.separator-dark {
    border-top: 1px solid $dark-bg-two;
}

.selected-item-menu-dark {
    width: 90%;
    border-radius: 10px;
}

.card-dashboard-dark {
    background-color: $dark-bg-one;
    border: 1px solid $dark-bg-two;
    min-width: 270px;
    .text {
        color: $dark-text;

        .title {
                font-weight: 600;
        }
        .value-title {
            font-weight: 600;
            font-size: 1.3em;
        }
        .subtitle {
            font-weight: 400;
        }
        .value-subtitle {
            font-weight: 400;
            font-size: 1.1em;
        }
    }
}

.card-dashboard-light {
    background-color: $light-bg-one;
    border: 1px solid $light-bg-two;
    min-width: 270px;

    .text {
        color: $light-text;

        .title {
            font-weight: 600;
        }
        .value-title{
            font-weight: 600;
            font-size: 1.3em;
        }
        .subtitle {
            font-weight: 600;
        }
        .value-subtitle {
            font-weight: 600;
            font-size: 1.1em;
        }
    }
}




