$primary : #39b027;
$secondary : #b4af3a;
$tertiary:#2797b0;
$quaternary: #5221b5;
$quinary: #ff5757;
$dark-text: #f9f9f9;
$dark-bg-one: #252933;
$dark-bg-two: #3c3f46;
$light-text: #353535;
$light-bg-one: #ffffff;
$light-bg-two: #e7e7e7;
$details: #f07b08;
